@charset "utf-8";

html {
    font-size:100px;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
               "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
               SimSun, sans-serif;
    margin: 0;
    padding: 0;
}
div, article, p, table, tr, td, th, ul, ol, li, h1, h2, h3, form, dl, dt, dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:active, &:hover, &:visited, &:focus{
      text-decoration: none
    }
}
